<?xml version="1.0" encoding="UTF-8"?>
<suite name="Sample Suite" parallel="methods">
    <test name="testing">
        <groups>
            <define name="smoke">
                <include name="smoke"/>

            </define>
            <define name="sanity">
                <include name="sanity"/>
            </define>
            <define name="regression">
                <include name="reg"/>
            </define>
            <define name="alltest">
                <include name="smoke"/>
                <include name="sanity"/>
                <include name="reg"/>
            </define>
<!--<run>-->
    <!--<include name="regression"></include>-->

<!--</run>-->

        </groups>
        <classes>
            <class name="testCalculator" />
            <class name="testClass1"/>

            <class name="testClass2"/>
            <class name="testClass3"/>
            <methods>
            <!--<include name="sum"/>-->
                <!--<include name="diff"/>-->
                <!--<include name="mul"/>-->
                <!--<include name="div"/>-->
                <!--<include name="mod"/>-->

           </methods>
        </classes>
    </test>
</suite>