<?xml version="1.0" encoding="UTF-8"?>
<suite name="Sample Suite" >   <!--parallel="methods"-->
    <test name="testing">
        <groups>
            <define name="smoke">
                <include name="smoke"/>

            </define>
            <define name="sanity">
                <include name="sanity"/>
            </define>
            <define name="regression">
                <include name="reg"/>
            </define>
            <define name="alltest">
                <include name="smoke"/>
                <include name="sanity"/>
                <include name="reg"/>
            </define>


        </groups>
        <!--<run>-->
            <!--<include name="regression" />-->
        <!--&lt;!&ndash;</run>&ndash;&gt;-->
        <!--&lt;!&ndash;<run>&ndash;&gt;-->
        <!--<include name="smoke" />'-->
        <!--&lt;!&ndash;</run>&ndash;&gt;-->

         <!--&lt;!&ndash;<run> &ndash;&gt;-->
        <!--<include name="sanity" />-->
         <!--</run>-->

        <classes>
            <class name="testCalculator" />
            <class name="testClass1"/>
            <class name="testClass2"/>

            <!--<methods>-->
            <!--&lt;!&ndash;<include name="sum"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="diff"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="mul"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="div"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<include name="mod"/>&ndash;&gt;-->

           <!--</methods>-->
        </classes>
    </test>
</suite>