<?xml version="1.0" encoding="UTF-8"?>
<suite name="Sample Suite">
    <test name="testing">
        <groups>
            <define name="positive">
                <include name="pos"/>

            </define>
            <define name="negetive">
                <include name="neg"/>
            </define>
            <define name="alltest">
                <include name="pos"/>
                <include name="neg"/>

            </define>


        </groups>
        <classes>
            <class name="testCalculator" />
            <methods>
            <!--<include name="sum"/>-->
                <!--<include name="diff"/>-->
                <!--<include name="mul"/>-->
                <!--<include name="div"/>-->
                <!--<include name="mod"/>-->

           </methods>
        </classes>
    </test>
</suite>